@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

:root {
    --main-green: #1bdc79;
    --font-color: #1f1d38;
    --ghost-white: #f5f8fd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
}

*::selection {
    background-color: #16b663;
}

/*HEADER---------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    /*padding: 40px 100px;*/
    padding: 30px 9%;
    z-index: 1000;
}

header.sticky {
    padding: 15px 9%;
    box-shadow: 0px 0px 30px rgba(127,137,161,0.3);
    background-color: white;
}

.logo {
    height: 45px;
    width: 269px;
    margin-right: auto;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #1f1d38;
    transition: color 0.2s ease, border 0.3s ease, padding 0.3s;
    font-size: 14px;
    font-weight: 600;
    padding: 0 3px 0 3px;
}

header ul li a:hover {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #1bdc79;
    padding-bottom: 5px;
    border-bottom: #1bdc79 solid 2px;
}
 
.active-nav-li {
    color: #1bdc79;
    border-bottom: 2px #1bdc79 solid;
    padding-bottom: 5px;
}


/* HOME SECTION----------------------------------*/
/*MAIN------------------------------------*/
#home-section .main {
    background: url(images/wave-main.svg);
    background-color: var(--ghost-white);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 300px;
    padding: 290px 0 340px 9%;
    display: flex;
    align-items: center;
}

#home-section .main h1{
    font-size: 52px;
    margin-bottom: 40px;
}

#home-section .main span {
    color: var(--main-green);
    font-size: 52px;
}

#home-section .main button {
    font-size: 14px;
    padding: 11px 34px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-green);
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: .3s all ease;
}

#home-section .main button:hover {
    background-color: #16B663;
    transform: scale(1.1);
}

#home-section .main img {
    width: 600px;
    height: 505px;
    margin-left: 30px;
    margin-top: 165px;
    user-select: none;
}

/*WHY CHOOSE US----------------------------------------*/
.why-choose-us-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 6%;
}

.why-choose-us-left {
    width: 50%;
}

.why-choose-us-left h3 {
    font-size: 42px;
    margin-bottom: 30px;
}

.why-choose-us-left p {
    font-size: 19px;
    font-weight: 500;
    line-height: 1.5;
    padding-right: 100px;
    text-align: justify;
}

.why-choose-us-left-imgs {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.why-choose-us-left-imgs p {
    font-size: 23px;
    font-weight: 600;
}

.why-choose-us-left-imgs img {
    height: 49px;
    width: 49px;
    margin-right: 15px;
}

.why-choose-us-right {
    background: url(images/why-choose-us-right-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 500px;

}

/*OUR CLIENTS----------------------------------------*/
.our-clients-div {
    background-color: var(--ghost-white);
    padding: 60px 0;
}

.our-clients-imgs-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-clients-div h3 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 35px;
}

.our-clients-imgs {
    transition: ease all .4s;
    margin: 0 15px;
    filter: opacity(0.57);
}

.our-clients-imgs:hover {
    filter: opacity(1);
}

.belimo-logo, .grabyo-logo {
    width: 148px;
    height: 52px;
}

.belimo-logo {
    margin-left: 0;
}

.citrus-logo, .life-groups-logo {
    width: 148px;
    height: 52.5px;
}

.myob-logo {
    width: 148px;
    height: 64px;
}

.trustly-logo {
    width: 148px;
    height: 46px;
}

/*NEWSLETTER---------------------------------------*/
.newsletter {
    background-color: var(--main-green);
    text-align: center;
    padding: 80px 0;
}

.newsletter h3 {
    font-size: 42px;
    margin-bottom: 35px;
}

.newsletter p {
    font-size: 17px;
    padding: 0 130px;
    margin-bottom: 25px;
}

.newsletter input {
    font-size: 18px;
    padding: 3px 239px 3px 5px;
    margin-bottom: 12px;
}

.newsletter button {
    background-color: var(--main-green);
    border: var(--font-color) 1px solid;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 200px;
    cursor: pointer;
    transition: .3s all ease;
}

.newsletter button:hover {
    background-color: var(--font-color);
    color: white;
    transform: scale(1.1);
}

/*FOOTER--------------------------------------*/
footer {
    padding: 22px 0;
    color: var(--font-color); 
    background-color: var(--main-green);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
}


.about-us-section {
    background-color: blue;
}

.sections {
    transition: 0.5s;
    display: none;
}

.sections.active {
    display: block;
}


/*ABOUT US SECTION----------------------------------*/
/*ABOUT US DIV------------------------------------*/
.about-us-div {
    background: url(images/wave-about-us.svg);
    background-color: var(--ghost-white);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 150px 10% 50px 9%;
    display: flex;
    align-items: center;
    /*height: 300px;
    width: 100%;*/
}

.about-us-div-left {
    border-right: 4px solid #d1dae9;
    border-bottom: 4px solid #d1dae9;
    padding: 0 6px 6px 0;
    width: 40%;
    border-bottom-right-radius: 20px;
    margin-right: 75px;
}

.about-us-div-left-img {
    background: url(images/about-us-div-left-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 460px;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 15px;
}

.about-us-div-right {
    width: 60%;
}

.about-us-div-right h3 {
    font-size: 42px;
    padding-bottom: 23px;
}
    
.about-us-div-right h4 {
    font-size: 23px;
    margin-bottom: 20px;
    color: #57566A;
    font-weight: 500;
}

.about-us-div-right p {
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 1.4;
    font-weight: 400;
}

/*SERVICES-------------------------------------*/
.services {
    background: url(images/wave-services.svg);
    background-color: var(--ghost-white);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 70px 0;
    text-align: center;
}

.services h3 {
    font-size: 42px;
    margin-bottom: 23px;
}

.services p {
    color: #57566A;
}

.services-grid {
    display: grid;
    grid-column: repeat(3, 1fr);
    grid-row: repeat(2, 1fr);
    gap: 50px;
    margin-top: 60px;
    padding: 0 9%;
}

.services-grid-panel-1,
.services-grid-panel-2,
.services-grid-panel-3,
.services-grid-panel-4,
.services-grid-panel-5,
.services-grid-panel-6 {
    padding: 30px;
    box-shadow: 0 10px 29px 0 rgba(68,88,144,0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    background-color: white;
}

.services-grid-panel-1:hover,
.services-grid-panel-2:hover,
.services-grid-panel-3:hover,
.services-grid-panel-4:hover,
.services-grid-panel-5:hover,
.services-grid-panel-6:hover {
    transform: scale(1.1);
}

.services-grid-panel-1:hover h6,
.services-grid-panel-2:hover h6,
.services-grid-panel-3:hover h6,
.services-grid-panel-4:hover h6,
.services-grid-panel-5:hover h6,
.services-grid-panel-6:hover h6 {
    color: var(--main-green);
}

.services-grid-panel-1 {
    grid-column: 1;
    grid-row: 1;
}

.services-grid-panel-2 {
    grid-column: 2;
    grid-row: 1;
}

.services-grid-panel-3 {
    grid-column: 3;
    grid-row: 1;
}

.services-grid-panel-4 {
    grid-column: 1;
    grid-row: 2;
}

.services-grid-panel-5 {
    grid-column: 2;
    grid-row: 2;
}

.services-grid-panel-6 {
    grid-column: 3;
    grid-row: 2;
}

.services-grid img {
    height: 55px;
    width: 55px;
    margin-bottom: 12px;
}

.services-grid h6 {
    font-size: 18px;
    margin-bottom: 19px;
    transition: all 0.35s ease-out;
}

.services-grid p {
    text-align: left;
    line-height: 1.8;
    font-size: 14px;
}

/*OUR TEAM----------------------------------------*/
.our-team {
    text-align: center;
    padding: 50px 0 80px 0;
    background: url(images/wave-our-team.svg);
    background-color: var(--ghost-white);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.our-team h3 {
    font-size: 42px;
    margin-bottom: 45px;
}

.our-team-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 9%;
    justify-content: space-between;
}

.our-team-img-1,
.our-team-img-2,
.our-team-img-3,
.our-team-img-4 {
    height: 255px;
    width: 255px;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0 10px 29px 0 rgba(68,88,144,0.1);
}

.our-team-img-1 {
    background: url(images/our-team-img-1.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.our-team-img-2 {
    background: url(images/our-team-img-2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.our-team-img-3 {
    background: url(images/our-team-img-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.our-team-img-4 {
    background: url(images/our-team-img-4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.our-team-img-bottom {
    background-color: rgba(0, 0, 0, 0.7);
    height: 29%;
    padding: 13px 0 5px 0;
    transition: 0.3s;
}

.our-team-img-1:hover .our-team-img-bottom,
.our-team-img-2:hover .our-team-img-bottom,
.our-team-img-3:hover .our-team-img-bottom,
.our-team-img-4:hover .our-team-img-bottom {
    height: 41%;
}

.our-team-img-bottom h6 {
    color: white;
    font-size: 19px;
    margin-bottom: 6px;
}

.our-team-img-bottom p {
    color: white;
    font-size: 12px;
    margin-bottom: 13px;
}

.our-team-img-bottom img {
    height: 24px;
    width: 24px;
    margin: 50px 1px 0 1px;
    transition: 0.6s;
    cursor: pointer;
}

.our-team-img-1:hover .our-team-img-bottom img,
.our-team-img-2:hover .our-team-img-bottom img,
.our-team-img-3:hover .our-team-img-bottom img,
.our-team-img-4:hover .our-team-img-bottom img{
    margin-top: 0;
}

#about-us-section .our-clients-div {
    background: url(images/wave-about-us-our-clients.svg);
    background-color: var(--ghost-white);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#about-us-section footer {
    background-color: #dde7f8;
}

/*PRICING SECTION----------------------------------*/
/*PRICING DIV--------------------------------------*/
#pricing-section {
    background: url(images/wave-pricing.svg);
    background-color: var(--ghost-white);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 150px 0 0 0;
}

.pricing-div h3 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 40px;
}

.pricing-grid {
    display: grid;
    grid-column: repeat(2, 1fr);
    grid-row: repeat(2, 1fr);
    gap: 25px;
    padding: 0 12%;
    padding-bottom: 100px;
}

.pricing-grid-panel-1,
.pricing-grid-panel-2,
.pricing-grid-panel-3,
.pricing-grid-panel-4 {
    padding: 35px;
    background-color: white;
    transition: 0.2s;
    box-shadow: 0 20px 35px 0 rgba(0,0,0,0.05);
    text-align: left;
}

.pricing-grid-panel-1:hover,
.pricing-grid-panel-2:hover,
.pricing-grid-panel-3:hover,
.pricing-grid-panel-4:hover {
    box-shadow: 0 20px 35px 0 rgba(0,0,0,0.08);
    transform: scale(1.04);
}

.pricing-grid-panel-1 {
    grid-column: 1;
    grid-row: 1;
}

.pricing-grid-panel-2 {
    grid-column: 2;
    grid-row: 1;
}

.pricing-grid-panel-3 {
    grid-column: 1;
    grid-row: 2;
}

.pricing-grid-panel-4 {
    grid-column: 2;
    grid-row: 2;
}

.pricing-grid-panel-1 div,
.pricing-grid-panel-2 div,
.pricing-grid-panel-3 div,
.pricing-grid-panel-4 div {
    border-bottom: 1px solid var(--main-green);
    padding-bottom: 25px;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}

.pricing-grid-panel-1:hover div,
.pricing-grid-panel-2:hover div,
.pricing-grid-panel-3:hover div,
.pricing-grid-panel-4:hover div {
    border-bottom: 2px solid var(--main-green);
    transition: border 0.4s;
    padding-bottom: 24px;
}

.pricing-grid h5 {
    font-size: 25px;
    margin-right: auto;
}

.pricing-grid span {
    font-size: 25px;
    font-weight: 700;
}

.pricing-grid p {
    padding: 30px 0 27px 0;
    font-size: 17px;
}

.pricing-grid button {
    font-size: 14px;
    padding: 11px 34px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-green);
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: .3s all ease;
}

.pricing-grid button:hover {
    background-color: #16B663;
    transform: scale(1.1);
}

#pricing-section footer {
    background-color: #dde7f8;
}








































































































.invisible-div {
    display: none;
}